* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
}

.inner {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 1.8rem;
  line-height: 1.75;
  border-radius: 30px;
  background-color: #fff;
  z-index: 9999999;
  top: 20%;
  left: 40%;
}

.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background-color: gray;
  border-radius: 30px;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.4);
}

.logo {
  padding: 10px 0;
  height: 70px;
  background: white;
  display: flex;
  margin: 0 auto 2rem;
  padding-left: 10%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.logo > a > img {
  width: 50%;
  
  object-fit: cover;
}

.logo_box > img {
  width: 70%;
  height: 60px;
  margin-top: 3%;
}

header {
  width: 100%;
  padding: 10px 0 0;
}

header > .df {
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 80%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.logo + .df {
  justify-content: space-around;
  width: 100%;
}
ul, li{
  list-style: none;
}
a {
  text-decoration: none;
}
.menu_wrap1 {
  width: 100%;
  background: white;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;

}
.menu_wrap1 .dep1 > li{
  
  display: inline-block;
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 20px;
 vertical-align: top;
}
.dep1{
  margin: auto;
}

.menu_wrap1 .dep1 > li:hover > .dep2{
  display: block;
}

.menu_wrap1 .dep2{
  display: none;
}

.nav li a {
  font-size: 2.4rem;
}
.dep1 > ul >li >a {
  width: 40px;
  height: 70px;
  display: block;
}
.icon {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon a > img {
  width: 30px;
}

.icon a > img:last-child {
  width: 20px;
}

.main {
  width: 100%;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_box {
  width: 100%;
  height: 300px;
  display: flex;
  line-height: 2;
  position: absolute;
}

.main_box > p {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #fff;
  position: absolute;
}

.main_box1 {
  width: 780px;
  height: 210px;

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
}

.main_icon {
  width: 120px;
  height: 130px;

  border-radius: 50%;
  text-align: center;
}

.main_icon > p {
  margin-top: 10%;
  font-size: 15px;
}

.main_icon2 {
  width: 120px;
  height: 130px;

  border-radius: 50%;
  text-align: center;
}

.main_icon2 > p {
  margin-top: 10%;
  font-size: 15px;
}

.main_icon3 {
  width: 120px;
  height: 130px;

  border-radius: 50%;
  text-align: center;
}

.main_icon3 > p {
  margin-top: 10%;
  font-size: 15px;
}

.main_icon4 {
  width: 120px;
  height: 130px;

  border-radius: 50%;
  text-align: center;
}

.main_icon4 > p {
  margin-top: 10%;
  font-size: 15px;
}

.main_icon5 {
  width: 120px;
  height: 130px;

  border-radius: 50%;
  text-align: center;
}

.main_icon5 > p {
  margin-top: 10%;
  font-size: 15px;
}

.button2 {
  margin-left: 75%;
}

.section1 {
  width: 100%;
  height: 820px;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sc1 {
  width: 100%;
  height: 40px;

  text-align: center;
}

.box1 {
  width: 50%;
  height: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box1_menu {
  width: 80%;
  height: 90px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cecdcd;
  border-radius: 30px
}

.box1_pup {
  width: 30%;
  height: 70px;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
  background-color: #5256a2;
}

.box1_pup2 {
  width: 30%;
  height: 70px;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
}

.box1_pup3 {
  width: 30%;
  height: 70px;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
}

.box1_menu2 {
  width: 80%;
  height: 550px;
}

.box1_menu2 > img {
  width: 100%;
  height: 550px;
}

.box2 {
  width: 50%;
  height: 700px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.sns1 {
  width: 45%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.face {
  width: 45%;
  height: 30%;
}

.face img {
  width: 50%;
  height: 100%;
  margin-left: 25%;
}

.sns1 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.sns2 {
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insta {
  width: 45%;
  height: 10%;
}

.insta img {
  width: 70%;
  height: 100%;
  margin-left: 10%;
}

.sns2 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.sns3 {
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube {
  width: 45%;
  height: 10%;
}

.youtube img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.sns3 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.sns4 {
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.naver {
  width: 45%;
  height: 10%;
}

.naver img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.sns4 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.section2 {
  width: 100%;
  height: 815px;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 h2 {
  margin-bottom: 40px;
  color: #7a4603;
}
.section2_box {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section2_box1 {
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #7a4603;
  border-color: #7a4603;
  font-weight: 600;
  color: #fff;
  z-index: 2;
}

.section2_box1 a {
  font: 2.5em sans-serif;
}

.section2_box2 {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2_box2 a {
  font: 2.5em sans-serif;
}

.section2_box3 {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2_box3 a {
  font: 2.5em sans-serif;
}

.banner_box {
  width: 100%;
  height: 570px;
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner_box1 {
  width: 30%;
  height: 500px;
}

.banner_box1 img {
  width: 90%;
  height: 100%;
}

.banner_box2 {
  width: 55%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_box3 {
  width: 100%;
  height: 200px;
}

.banner_box3 .subject {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}

.banner_box3 .txt {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-top: 10px;
}

.banner_box4 {
  width: 100%;
  height: 3000px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_box4 .box {
  width: 20%;
  height: 70%;
  
  margin-bottom: 5%;
}
.banner_box4 .box img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 30px;
}
.banner_box4 .box2 {
  width: 20%;
  height: 70%;
  
  margin-top: 5%;
}
.banner_box4 .box2 img {
  width: 100%;
  height: 100%;
  border-radius: 0 30px 0 0;
}
.banner_box4 .box3 {
  width: 20%;
  height: 70%;
 
  margin-bottom: 5%;
}
.banner_box4 .box3 img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 0 30px;
}
.banner_box4 .box4 {
  width: 20%;
  height: 70%;
  
  margin-top: 5%;
}
.banner_box4 .box4 img {
  width: 100%;
  height: 100%;
  border-radius: 0 30px 0 0;
}

.section3 {
  width: 100%;
  height: 815px;

  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 h2 {
  color: #5f7a03;
  margin: 0 auto 35px;
}
.section3_menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 620px;
  height: 50px;
  background-color: #ededed;
  border-radius: 50px;
  padding-left: 34px;
}

.section3_box1 {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5f7a03;
  border-radius: 60px;
  font-weight: 600;
  color: #fff;
}
.section3_box1 a {
  font: 2.5em sans-serif;
  color: #fff;
}
.section3_box2 {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3_box2 a {
  font: 2.5em sans-serif;
}
.section3_box3 {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3_box3 a {
  font: 2.5em sans-serif;
}
.section3 > h2 {
  color: #5f7a03;
}

.sec3_tab {
  width: 80%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}

.sec3_cont {
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sec3_box {
  width: 240px;
  height: 320px;
}
.sec3_box img {
  width: 240px;
  height: 320px;
  border-radius: 0 30px 0 30px;
}
.sec3_box2 {
  width: 240px;
  height: 320px;
  margin-bottom: 10%;
}
.sec3_box2 img {
  width: 240px;
  height: 320px;
  border-radius: 0 30px 0 30px;
}
.sec3_box3 {
  width: 240px;
  height: 320px;
}
.sec3_box3 img {
  width: 240px;
  height: 320px;
  border-radius: 0 30px 0 30px;
}
.sec3_box4 {
  width: 240px;
  height: 320px;
  margin-bottom: 10%;
}
.sec3_box4 img {
  width: 240px;
  height: 320px;
  border-radius: 0 30px 0 30px;
}
.sec3_box5 {
  width: 240px;
  height: 320px;
}
.sec3_box5 img {
  width: 240px;
  height: 320px;
  border-radius: 0 30px 0 30px;
}
footer{
  width: 100%;
  background-color: #3b4044;
}
.footbox{
  padding: 20px;
  max-width: 100%;
}
.foot_top{
  width: 100%;
  border-bottom: 1px solid #626669;
  display: flex;
  align-items: center;
}
.foot_top .top_btn{
  width: 100%;
  display: flex;
  justify-content: center;

}
.sel_w {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.foot_top .sel{
  display: flex;
}

.foot_top select {
  margin: 20px 0 0;
}
  .foot_top select {
    border: 1px solid #43474b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
    padding: 0 30px 0 20px;
    color: #fff;
    line-height: 1;
}

.foot_top .sel {
  display: flex;
}
.foot_btm{
  width: 100%;
  display: flex;
  flex-wrap: Wrap;
  justify-content: center;
  align-items: center;
    padding: 25px 0 30px 0;
}
.foot_btm .txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: Center;
}
.foot_btm .txt address p {
  display: flex;
  font-size: 16px;
  color: #c3c3c3;
  line-height: 1;
}
.foot_btm .txt address span {
  display: flex;
  align-items: center;
  line-height: 1;
  font-style: normal;
}
.foot_btm .txt address p {
  display: flex;
  font-size: 16px;
  color: #c3c3c3;
  line-height: 1;
}
.foot-btm .btm_btn {
  display: flex;
  align-items: Center;
  margin: 20px 0 0;
  padding-top: 20px;
}