* {
  padding: 0;
  margin: 0;
}

.popup {
  position: fixed;
  width: min(50%, 500px);
  padding: 5% 2%;
  font-size: 1.8rem;
  line-height: 1.75;
  border-radius: 30px;
  background-color: #fff;
  z-index: 9999999;
  top: 20%;
  left: 40%;
}

.popup > span {
  user-select: none;
  cursor: pointer;
  position: absolute;
  background-color: gray;
  border-radius: 30px;
  padding: 1% 3%;
  right: 10%;
  bottom: 10%;
  color: #fff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 15%;
  height: 70px;
  background: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.logo_box > img {
  width: 70%;
  height: 60px;
  margin-top: 3%;
}

header {
  max-width: 100%;
  height: 85px;
  display: flex;
}

.nav {
  width: 80%;
  height: 85px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > li {
  margin-left: 90px;
}

.icon {
  width: 20%;
  height: 85px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon a > img {
  width: 30px;
  height: 30px;
  margin-top: 15%;
  margin-left: 20%;
}

.main {
  max-width: 100%;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_box {
  width: 100%;
  height: 300px;
  display: flex;
  line-height: 2;
  position: absolute;
}
.main_box > p {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: #fff;
  position: absolute;
}
img {
  width: 100%;
  height: 800px;
}

.main_box1 {
  width: 780px;
  height: 210px;
  border: 1px solid black;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
}

.main_icon {
  width: 120px;
  height: 130px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
}

.main_icon > p {
  margin-top: 80%;
}

.main_icon2 {
  width: 120px;
  height: 130px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
}

.main_icon2 > p {
  margin-top: 80%;
}

.main_icon3 {
  width: 120px;
  height: 130px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
}

.main_icon3 > p {
  margin-top: 80%;
}

.main_icon4 {
  width: 120px;
  height: 130px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
}

.main_icon4 > p {
  margin-top: 80%;
}

.main_icon5 {
  width: 120px;
  height: 130px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
}

.main_icon5 > p {
  margin-top: 80%;
}
.button2 {
  margin-left: 75%;
}
.section1 {
  max-width: 100%;
  height: 820px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.sc1{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  text-align: center;
}
.box1 {
  width: 50%;
  height: 700px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box1_menu {
  width: 80%;
  height: 90px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1_pup {
  width: 30%;
  height: 70px;
  border: 1px solid blue;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
}

.box1_pup2 {
  width: 30%;
  height: 70px;
  border: 1px solid blue;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
}
.box1_pup3 {
  width: 30%;
  height: 70px;
  border: 1px solid blue;
  border-radius: 30px;
  line-height: 70px;
  text-align: center;
}

.box1_menu2 {
  width: 80%;
  height: 550px;
  border: 1px solid black;
}
.box1_menu2 > img {
  width: 100%;
  height: 550px;
}
.box2 {
  width: 50%;
  height: 700px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.sns1 {
  width: 45%;
  height: 300px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sns1 > p {
  width: 20%;
  height: 20px;
  font-size: 20px;
}
.sns1 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.sns2 {
  width: 45%;
  height: 300px;
  border: 1px solid red;
}
.sns2 > p {
  width: 20%;
  height: 20px;
  font-size: 20px;
}

.sns2 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.sns3 {
  width: 45%;
  height: 300px;
  border: 1px solid red;
}
.sns3 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}
.sns4 {
  width: 45%;
  height: 300px;
  border: 1px solid red;
}
.sns4 > img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
}

.section2 {
  max-width: 100%;
  height: 815px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2_box {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section2_box1 {
  width: 30%;
  height: 80px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;

}
.section2_box1 a {
  font: 2.5em sans-serif;
}
.section2_box2 {
  width: 30%;
  height: 80px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2_box2 a {
  font: 2.5em sans-serif;
}
.section2_box3 {
  width: 30%;
  height: 80px;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2_box3 a {
  font: 2.5em sans-serif;
}
.banner_box {
  width: 100%;
  height: 570px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner_box1 {
  width: 30%;
  height: 500px;
  border: 1px solid black;
}
.banner_box1 img {
  width: 90%;
  height: 100%;
}
.banner_box2 {
  width: 55%;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_box3 {
  width: 90%;
  height: 250px;
  border: 1px solid black;
}
.banner_box4 {
  width: 90%;
  height: 250px;
  border: 1px solid black;
  display: flex;
}
.banner_box4 img {
  width: 20%;
  height: 70%;
}
.section3 {
  max-width: 100%;
  height: 815px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec3_cont {
  width: 100%;
  height: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sec3_box {
  width: 240px;
  height: 320px;
  border: 1px solid blue;
}

.sec3_box2 {
  width: 240px;
  height: 320px;
  border: 1px solid blue;
  margin-bottom: 10%;
}

.sec3_box3 {
  width: 240px;
  height: 320px;
  border: 1px solid blue;
}

.sec3_box4 {
  width: 240px;
  height: 320px;
  border: 1px solid blue;
  margin-bottom: 10%;
}

.sec3_box5 {
  width: 240px;
  height: 320px;
  border: 1px solid blue;
}
